.root{
    -fx-background-image: url("cover.jpg");
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-pref-width: 150;
    -fx-padding: 3px;
}

#welcome{
    -fx-font-size: 40;
    -fx-font-style: "Arial";
    -fx-text-fill: mistyrose;
    -fx-font-weight: bold;
}

#loading{
    -fx-font-size: 30;
    -fx-font-style: "Arial" italic;
    -fx-text-fill: mistyrose;
    -fx-font-weight: normal;
}